.shoppers-container__shoppers {
  position: fixed;
  z-index: 100;
  top: 10px;
  bottom: 10px;
  left: 10px;
  display: grid;
  grid-template-columns: 1;
  gap: 10px;
  width: 140px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px 8px 12px 12px;
  background-color: white;
}

.shoppers-container__shopping-list {
  background-color: blue;
  margin-left: 180px;
}

.shoppers-container__shopping-list-button {
  position: fixed;
  bottom: 18px;
  right: 0px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-self: center;
  transition: opacity var(--transition-duration);
}

.shoppers-container__shopping-list-button img {
  width: 60%;
}

.shoppers-container__shopping-list-button:hover {
  opacity: var(--opacity-hover);
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .shoppers-container__shoppers {
    right: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 128px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 12px 8px 12px 12px;
  }
}
