.shopper-container__shoppers {
  position: fixed;
  z-index: 100;
  top: 10px;
  bottom: 10px;
  left: 10px;
  display: grid;
  grid-template-columns: 1;
  gap: 10px;
  width: 140px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px 8px 12px 12px;
}

.shopper-container__shopping-list {
  background-color: blue;
  margin-left: 180px;
}
